@charset "UTF-8";

@import "shared/reset";
@import "shared/header";
@import "shared/footer";
@import "shared/h_nav";
@import "shared/v_nav";
@import "shared/container";
@import "shared/see_more_link";
@import "shared/alert";
@import "actiontext.css";

$light-gray: rgb(67, 67, 67);
$medium-gray: rgb(49, 49, 49);
$dark-gray: rgb(36, 36, 36);

body
{
  background: $light-gray;
}

header
{
  text-align: center;
}

footer
{
  background: $medium-gray;
  font-size: 0.9em;
  padding: 10px;
  width: 100%;
}

p
{
  word-wrap: break-word;
  text-align: left;
  font-size: 22px;
  line-height: 1.5em;
  margin: 5% 5% 5% 5%;
}

h1, h2
{
  background: rgb(49, 49, 49);
  padding: 20px 15px 20px 15px;
  letter-spacing: 3px;
  line-height: 1.2em;
  margin: 10px auto 10px auto;
  border-radius: 10px;

  a:hover
  {
    opacity: 0.3;
  }
}

h1
{
  font-size: 30px;
  width: 100%;
}

h2
{
  width: 95%;
  font-size: 20px;
  line-height: 1.1em;
}

nav
{
  ul
  {
    font-size: 1.3em;
    list-style-type: none;
  }
}

a
{
  text-decoration: none;

  &:link,
  &:visited
  {
    color: beige;
  }
}

img
{
  width: 90%;
  margin: 0 auto 0 auto;
  box-shadow: 10px 5px 5px $medium-gray;
  border-radius: 5px;
}

video
{
  width: 100%;
  background: $medium-gray;
  border: 3px solid $dark-gray;
  box-shadow: 10px 5px 5px $medium-gray;
  border-radius: 5px;
}

button
{
  display: block;
  background-color: rgb(49, 49, 49);
  border: 3px solid rgb(36, 36, 36);
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  transition: background-color 0.3s ease;

  &:hover
  {
    background-color: rgb(58, 58, 58);
  }

  &:active
  {
    background-color: rgb(26, 26, 26);
  }
}

label
{
  display: block;
  margin: 0 auto 5px auto;
}

input
{
  display: block;
  margin: 0 auto 10px auto;
}

.v-break
{
  padding-top: 30px;
}