<% provide(:title, "Profile")%>

<div class="v-container">
  <div class="v-container-item">

    <% if logged_in?() %>
      <h1><%= @user.username %></h1>
    <% end %>

    <% if is_admin?(@user) %>
      <nav class="h-nav", style="margin-bottom: 10px;">
        <ul>
          <% if can_create?(@user) %>
            <li><%= link_to("Create Project", create_project_path) %></li>
            <li><%= link_to("Create Article", create_article_path) %></li>
          <% end %>
        </ul>
      </nav>
    <% end %>

  </div>
</div>