<% provide(:title, "Profile")%>

<div class="v-container">
  <div class="v-container-item">
    <% if logged_in? %>
      <h1><%= @user.username %></h1>
      <h1>Logged in</h1>
      <button><%= link_to("Create Project", create_project_path) %></button>
    <% end %>
  </div>
</div>