<div class="v-container">
  <div class="v-container-item">
    <h1><%= @post.title %></h1>
    <small><%= @post.updated_at.to_formatted_s(:long_ordinal) %> GMT</small>
    <%= image_tag(@post.thumbnail) %>
    <p><%= @post.body %></p>
  </div>
</div>