@charset "UTF-8";
@import "../../../lib/assets/stylesheets/reset";
@import "../../../lib/assets/stylesheets/header";
@import "../../../lib/assets/stylesheets/footer";
@import "../../../lib/assets/stylesheets/h_nav";
@import "../../../lib/assets/stylesheets/v_nav";
@import "../../../lib/assets/stylesheets/container";
@import "../../../lib/assets/stylesheets/mobile";

$light-gray: rgb(67, 67, 67);
$medium-gray: rgb(49, 49, 49);
$dark-gray: rgb(36, 36, 36);

body
{
  background: $light-gray;
}

header
{
  text-align: center;
}

footer
{
  background: $medium-gray;
  font-size: 0.9em;
  padding: 10px;
  width: 100%;
}

h1, h2
{
  background: rgb(49, 49, 49);
  letter-spacing: 3px;
  margin: 10px auto 10px auto;
  border-radius: 10px;
}

h1
{
  font-size: 30px;
  padding-top: 35px;
  padding-bottom: 35px;
}

h2
{
  font-size: 28px;
  padding-top: 14px;
  padding-bottom: 14px;
  line-height: 1.1em;
}

nav
{
  ul
  {
    font-size: 1.3em;
  }
}

a
{
  text-decoration: none;

  &:link,
  &:visited
  {
    color: beige;
  }
}

img
{
  width: 90%;
  margin: 0 auto 0 auto;
  box-shadow: 10px 5px 5px $medium-gray;
  border-radius: 5px;
}

video
{
  width: 100%;
  background: $medium-gray;
  border: 3px solid $dark-gray;
  box-shadow: 10px 5px 5px $medium-gray;
  border-radius: 5px;
}

button
{
  display: block;
  background-color: rgb(49, 49, 49);
  border: 3px solid rgb(36, 36, 36);
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  transition: background-color 0.3s ease;

  &:hover
  {
    background-color: rgb(58, 58, 58);
  }

  &:active
  {
    background-color: rgb(26, 26, 26);
  }
}

.v-break
{
  padding-top: 30px;
}