<footer class="footer">
  <nav id="footer-nav" class="v-nav">
    <ul>
      <li>
        <a href="https://github.com/Michael-R-R" target="_blank">
          <%= image_tag("icons/github-mark-white.png", alt: "GitHub icon", id: "footer-github-icon") %>
          GitHub
        </a>
      </li>
    </ul>
  </nav>
</footer>